/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Général */

*{
    margin: 0;
    scroll-behavior: smooth;
}

:root{
    --titlefont:"Playfair Display", serif;
    --primaryfont:"Inter", sans-serif;
    --abricot:rgba(252, 208, 161);
    --sauge:rgb(177, 182, 149);
    --black:rgba(51, 51, 51, 1);
    --white:rgba(255, 255, 255, 1);
}

h2{
    font-family:var(--titlefont); 
    font-weight: 700;
    font-size: 36px;
    }

h3{
    font-family: var(--titlefont);
    font-size: 24px;
    font-weight: 600;
}

p{
    font-family: var(--primaryfont);  
    font-weight: 400;
    font-size: 18px;
}

.container{
    max-width: 1536px;
    margin: auto;
}

img{
    width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    font-family: var(--primaryfont);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}

i{
    color: var(--sauge);
}

button{
    border-style: none;
    font-family: var(--primaryfont);
    font-size: 16px;
    font-weight: 700;

    
}

/* Desktop */
/* Header */
header{
    
    background-color: var(--sauge);

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;

        a,p{
            font-family: var(--titlefont);
            font-size: 24px;
            font-weight: 700;
            color: var(--white);
        }

        nav{
            ul{
                display: flex;
                gap: 25px;
                padding: 0;

                li{
                    list-style: none;

                    a{
                        color:var(--white);
                        font-family: var(--primaryfont);
                        font-size: 20px;
                        font-weight: 500;

                        &:hover{
                            color: var(--abricot);
                        }
                    }
                }
            }
        }
    }
}

main{
    #principale{
        position: relative;
        display: grid;
        background-image: url("../img/pexels-olha-ruskykh-5984630.jpg");
        background-size: cover;
        
        /* &::before{
            content: "";
            background-color: rgba(252, 208, 161, 0.1);
            position: absolute;
            inset: 0;
        } */
        div{
            background: linear-gradient(90deg, var(--abricot), 0.9  );
            .container{
                display: grid;
                align-items: center;
                justify-items: center;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
                height: 1040px;
                padding: 0 20px;            

                article{
                    display: grid;
                    gap: 25px;

                    h1{
                        font-family:var(--titlefont); 
                        font-weight: 700;
                        font-size: 60px;
                        color: var(--black);
                    }
                    
                    p{
                        color: var(--black);
                    } 

                    a{
                        background-color: var(--sauge);
                        width: fit-content;
                        padding: 12px 28px;
                        border-radius: 5px;

                        &:hover{
                            background-color: var(--abricot);
                            cursor: pointer;
                        }
                    }               
                }
            }

            img{
                height: auto;
                width: 60%;
                border-radius: 100%;
            }
            /* Attention aux dimensions de l'image */
        }
    }

    .propos{
        padding: 50px;

        h2{
            text-align: center;
            margin: 35px 0;
        }

        p{
            word-spacing: 10px;
        }

        #parcours_competences{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            article{
                display: grid;
                gap: 20px;

                h3{
                    margin: 20px;
                    text-align: center;
                }

                a{
                    display: flex;
                    align-items: center;
                    color: var(--sauge);
                    gap: 15px;

                    &:hover{
                        color: var(--abricot);
                    }

                    i{
                        color: var(--sauge);
                        font-size: 16px;
                    }
                }

                #mes-competences{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                }

                    article{
                        justify-items: center;

                        i{
                            font-size: 48px;
                        }
                    }
                }
            }
    }

    #mes-projets-recents{
        background-color: var(--sauge);
        padding: 40px 15px;

        .container{
            text-align: center;
            color: var(--white);
            
            h2,p{
                padding: 20px 0;
            }

            #cards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                margin: 30px 0;

                a{
                    border-radius: 10px;
                    padding: 0;

                    
                    .card{
                        background-color: var(--white);
                        border-radius: 10px;
                        display: grid;
                        gap: 10px;
                        box-shadow: 9px 8px 5px #80808047;

                        img{
                            height: 256px;
                            border-radius:  10px 10px 0 0;
                            transition:all 0.2s ease-in-out;
                            &:hover{
                            img{
                                transition:scale(1.05);
                                transition:all 0.2s ease-in-out;
                            }
                            }
                        }

                        .info-zone{
                            padding: 0 12px;
                            display: grid;

                            h3{
                                text-align: justify;
                                color: var(--black);
                            } 
                            
                            p{
                                text-align: justify;
                                color: var(--black);
                                font-size: 16px;
                            }

                            ul{
                                list-style: none;
                                display: flex;
                                gap: 20px;
                                padding: 0;

                                li{
                                    background-color: var(--sauge);
                                    padding: 7px;
                                    border-radius: 4px
                                }
                            }

                            .link{
                                color: var(--sauge);
                                font-weight: 700;
                            }
                        }
                        
                    }
                    
                }
            }

            button{
                background-color: var(--white);
                color: var(--sauge);
                padding: 14px;
                border-radius: 4px;
                font-family: var(--primaryfont);
                font-size: 16px;
                font-weight: 700;

                &:hover{
                    background-color: var(--abricot);
                    cursor: pointer;
                    color: var(--white);
                }
            }
        }
    }

    .contact{
        text-align: center;
        max-width: 670px;
        margin: auto;
        padding: 30px 15px;

        h2{
            margin: 30px 0;
        }

        form{
            text-align: justify;

            #champ{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                margin: 30px 0;
            
                article{
                    display: grid;
                    gap: 5px;

                    label{
                        font-family: var(--primaryfont);
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: 3px;
                        color: var(--sauge);
                    }

                    input{
                        border: 1px solid var(--sauge);
                        padding: 16px;
                        border-radius: 8px;
                    }
                }

                #message{
                    grid-column: 1/3;

                    input{
                        height: 150px;
                    }
                }
            }
        

            div{
                label{
                    font-family: var(--primaryfont);
                    font-size: 14px;
                    font-weight: 400;
                }
                
            }

            button{
                background-color: var(--sauge);
                color: var(--white);
                width: fit-content;
                padding: 12px 28px;
                border-radius: 5px;
                margin:12px 0;
            }
        }
    }
}

footer{
    background-color: var(--sauge);
    color: var(--white);

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 15px;

        div{
            h2{
                font-size: 24px;
            }

            p{
                font-size: 16px;
                color: var(--white);
                margin: 15px 0;
            }

            #droits{
                font-size: 14px;
            }

            ul{
                list-style: none;
                display: flex;
                gap: 15px;
                justify-content: flex-end;

                i{
                    font-size: 40px;
                    color:var(--white);
                }
            }
            

        }
    }
    
}
/* Tablette (1024px jusqu'à 768px) */
@media screen and (max-width:1024px){
    /* main{
    } */
}

/* Mobile (dès 767px) */
@media screen and (max-width:767px){
    header{
        .container{
            flex-direction: column;
            gap: 25px;

            nav{
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }           
        }

        p{
            text-align: center;
        }
        
        nav{
            ul{
            display:grid;
            grid-template-columns: 1fr 1fr;

            li{
                    text-align: center;
            }
            }
        }
        
    }

    main{
        #principale{
            .container{
                grid-template-columns: 1fr;
                gap: 40px;
                text-align: center;

                article{
                    a{
                        justify-self: center;
                    }
                }

                #personne{
                    width: 100%;
                }
                
            }
        }
        
        .propos{
            #parcours_competences{
                grid-template-columns: 1fr;

                article{
                    div{
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }

        #mes-projets-recents{
            .container{
                #cards{
                    grid-template-columns: 1fr;
                }
            }
        }

        .contact{
            form{
                #champ{
                    grid-template-columns: 1fr;

                    #message{
                        grid-column: 1/1;
                    }
                }
            }
        }
    }

    footer{
        .container{
            flex-direction: column;
            div{
                ul{
                    justify-content: center;
                }
            }
        }
    }
}